#dashboard-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.header-icon {
  height: 40px;
  width: 40px;
  margin-top: 20px;
}

#dashboard {
  border: solid black 1px;
  height: 640px;
  width: 1060px;
  margin: auto;
}

#events-title {
  margin-top: 100px;
}

#new-event-button {
  margin-top: 100px;
}
