#event {
  border: solid black 1px;
  width: 350px;
  height: 350px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

#delete {
  width: 24px;
  height: 24px;
}

#edit {
  width: 24px;
  height: 24px;
}

#event-buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 10px;
}

.event-icons:hover {
  cursor: pointer;
}
