body {
  height: 250px;
  width: 500px;
  border: solid black 1px;
  margin: auto;
}

h2 {
  margin-top: 5px;
}

div {
  display: flex;
  flex-direction: row;
  margin: auto;
  justify-content: space-evenly;
}

button {
  border: none;
  background-color: white;
  font-size: 17px;
  height: 15px;
  /* margin-top: 20px; */
}

button:hover {
  cursor: pointer;
}